{{>head}}

<body>
    <!-- navbar -->
    {{>navbar}}
 
    <div class="container container_align_about col-12">
        <div class="left_side_about col-6">
            <figure>
                <img src="./images/profile.png" class="img-fluid">
            </figure>
        </div>
        <div class="right_side_about col-6">
            <!-- <div class="left_side "> -->
            <h5 class="text font-weight-bold text-info">Wants to know About me</h5>
            <h2 class="main_heading">I am Full Stack <span class="t">MERN</span> Developer and Competitive Programmer
            </h2>
            <a href="https://kbaghel-kamal.github.io/kamalportfolio.github.io/" target="_blank" style="width: 7rem;"> <button
                    type="button" class="btn btn-outline-secondary btn-sm my-2" >About Me</button></a> 
        </div>
    </div>
 {{>footer}}
</body>

</html>