{{>head}}
<body>
    {{>navbar}}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <dic class="row">
                <div class="col-md-12 col-12 w-100 ">
                    <figure class="errImg">
                        <img src="images/404.jpg" alt="" class="img-fluid">
                    </figure>
                     <div class="container_align">
                          <h2 style="text-align:center;text-transform: capitalize;
                          font-size:3rem;
                          margin-top:25vh;
                          
                         @media only screen and (max-width:1000px){
                          font-size:2rem;
                          
                             text-align:center;

                          }
                          @media only screen and (max-width:650px){
                             font-size:0.8rem;
                             text-align:center;

                          }
                          
                          ">page Not found ! <span class="t">404</span> error 😡
                          </h2>
                     </div>
                </div>
            </dic>
        </div>
    </div>
</div>



    {{>footer}}
</body>