   <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid  col-12 nav row-2">
        <div class="container nav">
            <div class="left_nav">
                <a class="navbar-brand px-3 text-white text-center" href="#"> <i
                        class="far fa-snowflake px-1 "></i> Kamal Singh <i
                        class="far fa-snowflake px-1 "></i></a>
            </div>
            <div class="right_nav">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 ">
                        <li class="nav-item px-3">
                            <a class="nav-link active text-white" aria-current="page" href="http://localhost:8000/">Home</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link text-white" href="http://localhost:8000/weather">Weather</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link text-white" href="http://localhost:8000/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>